<?xml version="1.0"?>

<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <InstrumentationKey xdt:Transform="Replace">460a6714-b069-4ee4-86a8-6a1de4f237f6</InstrumentationKey>
</ApplicationInsights>