<?xml version="1.0"?>

<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <InstrumentationKey xdt:Transform="Replace">d14c4836-d619-4e29-8869-8d83debc1878</InstrumentationKey>
</ApplicationInsights>