<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
        <add name="WireSecurity_Connection" 
             connectionString="fahwWVCpsyHsVBXAt1ESN99Pf0YPiTm+Nw14V7malLAEDRzN19WOalMGr4hUxeLixwgfwBG2vthcuV4Xhu6cayOKSL01/k8zen1Z35SxQ1a14wDwoTGWp51VTwyBilyKJMoeCo3LetK6nHRgbtlSHJjReARNQatMX/yf7QSF05ZoYhwBECuQTMzglAezpbob3Y6o+9XBAs0h96s3xleZb9VMHF93Rq/x3Kzn1QHJdl+SRGijkjBKuMMKaf4XgGBtSlfUng00SHyGi5GYMTQa8xA4vZaNWSAGtN7KngoKqw5T3Id7ezJOKteY38+2wRkYdNdqyfpD9qikLXlLANlDZsPWMuphth5YaE1tGl01u0gOjqte0++l+y81x9vJ+CcTugwMGwmkuUkHcChNKav1tw==" 
              xdt:Transform="Replace"
              xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="FaxAppServerIP" value="10.128.252.190" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <add key="ApplicationId" value="50" xdt:Transform="Replace" xdt:Locator="Match(key)"  />

    <add key="EnvironmentId" value="25"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="ReportDomain" value="+NIeFsBGo1SJ8YrnDjg5iOTjCLY1V1AkOkpA6WF2Tfc="  xdt:Transform="Replace" xdt:Locator="Match(key)" />

  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

</configuration>