<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    
    <add name="WireSecurity_Connection" connectionString="fahwWVCpsyHsVBXAt1ESNwGuOi6Ry61FaiT9PXCwQO23mZLMz3edEl+dJLAK37V6UVWgGzjwc1KTVZVphhuBzKaefoFKtH1WdJ5FkAX2h226gb/7OtVsFoq3JlxEMja1CzTenAS+LCTPgEgDrg0QjYpEtv8aLsJZAPuqfIE2m4dSW8nRdwNLXLmDd4dybhZEATZkOIQmSt3l4u3shIl9RDwXRNPm0OP8+FnGheL7Eh6HM1a2CEb7lFcVeGGKZGtRIwYFFZMIoFO/hwl+u19QDnf2elqMfG8AmApZQGndtSmWP4ebOiBDPrtTE2D6r1zHzPuZpJISYI3DPNUiioG5UDglUkzL+y4naqCkv8rdTtPLq+jADL1//MCC8rfbG+A6" 
             xdt:Transform="Replace"
             xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="FaxAppServerIP" value="10.128.252.190" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <add key="ApplicationId" value="50" xdt:Transform="Replace" xdt:Locator="Match(key)"  />

    <add key="EnvironmentId" value="24"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="ReportDomain" value="+NIeFsBGo1SJ8YrnDjg5iOTjCLY1V1AkOkpA6WF2Tfc="  xdt:Transform="Replace" xdt:Locator="Match(key)" />

  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

</configuration>