<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://webapiservices.intermexusa.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>svgflivp01.intermexwire.intermexwiretransfers.com</MSDeployServiceURL>
    <DeployIisAppPath>WebAPIServices</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>intermexwire\magarcia</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="WireSecurity_Connection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="fahwWVCpsyHsVBXAt1ESN6nXv9WKKbw2iG4QO0Boe5Ksv8qaLCaPHD6gBaXMc4j52s0YJmxhaytTpTImKG8m63GP1TgS8w7W1jCrihr/Iemv96h7PkFfNuEGEyqZbdY+qwx0Iogj+xNnbhFMfjRt2din2HXcwbOABlYew08pbb0POXBLdYVpRIRE/ntB/Grw4FZ9nbHXr/hv8jl44c5j+yKP16Z1JJEbaZ2Q+DLpj+cdf4cXneZemfO4l3PJrfZxprHcYMsg1uqNPw0MJJ3pQtP9P8TSMBY/gPC8Mb69xilPiMPTtgIC2DwMaIM817BD5mmwke3YM1mRvKvEuRoEAg==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\WireSecurity_Connection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="fahwWVCpsyHsVBXAt1ESN6nXv9WKKbw2iG4QO0Boe5Ksv8qaLCaPHD6gBaXMc4j52s0YJmxhaytTpTImKG8m63GP1TgS8w7W1jCrihr/Iemv96h7PkFfNuEGEyqZbdY+qwx0Iogj+xNnbhFMfjRt2din2HXcwbOABlYew08pbb0POXBLdYVpRIRE/ntB/Grw4FZ9nbHXr/hv8jl44c5j+yKP16Z1JJEbaZ2Q+DLpj+cdf4cXneZemfO4l3PJrfZxprHcYMsg1uqNPw0MJJ3pQtP9P8TSMBY/gPC8Mb69xilPiMPTtgIC2DwMaIM817BD5mmwke3YM1mRvKvEuRoEAg==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="WireTransac_Connection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="hh" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\WireTransac_Connection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="hh" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ExcludeFilesFromDeployment>**\*.config</ExcludeFilesFromDeployment>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WireSecurity_Connection-Web.config Connection String" >
       <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WireTransac_Connection-Web.config Connection String" >
    <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>