<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://SVGHQINT01/WebAPIServices</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>192.168.1.168</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/WebAPIServices</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>intermexwire\magarcia</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="WireSecurity_Connection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="fahwWVCpsyHsVBXAt1ESN6nXv9WKKbw2iG4QO0Boe5Ksv8qaLCaPHD6gBaXMc4j5fmYZA/Ua+BPSXZi9O33kHhXYuNa4LiYqUvUGy7wiCT+PwAwNCUFWXmA+qrBnb+ZKnSfOVzQ61EmnnVhiKk27Lp9fznheaQW0DgfnxJrzKfr90/4GFov4Vp7FY23UdAlqaBc46Wbs4cNjCvqODsQaFbu06RJFDlQjRq9+5vyP4iQEF+lH9deKpjl099NuOOycayqsomXYONeyhjipbiDcK89ExMYO/xE4gZY1BavbBBrPKyHY26PBeuSYJUkfd1EHS5keQVT8lCyUPKZdwlBrXj55EUS9j0OG35ygoQusisZi59u32svV8H+DAATbtdM1hh+2GkMnGRibVuQ/ekjLoZT54AFxejRHZlV7cX0s9Qk=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\WireSecurity_Connection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="fahwWVCpsyHsVBXAt1ESN6nXv9WKKbw2iG4QO0Boe5Ksv8qaLCaPHD6gBaXMc4j5fmYZA/Ua+BPSXZi9O33kHhXYuNa4LiYqUvUGy7wiCT+PwAwNCUFWXmA+qrBnb+ZKnSfOVzQ61EmnnVhiKk27Lp9fznheaQW0DgfnxJrzKfr90/4GFov4Vp7FY23UdAlqaBc46Wbs4cNjCvqODsQaFbu06RJFDlQjRq9+5vyP4iQEF+lH9deKpjl099NuOOycayqsomXYONeyhjipbiDcK89ExMYO/xE4gZY1BavbBBrPKyHY26PBeuSYJUkfd1EHS5keQVT8lCyUPKZdwlBrXj55EUS9j0OG35ygoQusisZi59u32svV8H+DAATbtdM1hh+2GkMnGRibVuQ/ekjLoZT54AFxejRHZlV7cX0s9Qk=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="WireTransac_Connection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="hh" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\WireTransac_Connection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="hh" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ExcludeFilesFromDeployment>**\*.config</ExcludeFilesFromDeployment>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WireSecurity_Connection-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WireTransac_Connection-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>