<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="WireTransacConn" connectionString="Data Source=dev-mainagl;Initial Catalog=WireTransac;Persist Security Info=True;User ID=TPSuSER;Password=TPS$1352"
        providerName="System.Data.SqlClient" />
    <add name="WireSecurityConn" connectionString="Data Source=dev-dataentagl;Initial Catalog=WireSecurity;Persist Security Info=True;User ID=TPSuSER;Password=TPS$1352"
        providerName="System.Data.SqlClient" />
    <add name="WireSearchConnectionString" connectionString="Data Source=dev-dataentagl;Initial Catalog=WireSearch;Persist Security Info=True;User ID=TPSuSER;Password=TPS$1352"
        providerName="System.Data.SqlClient" />
    <add name="MoneyOrderConnectionString" connectionString="Data Source=dev-dataentagl;Initial Catalog=MoneyOrders;Persist Security Info=True;User ID=TPSuSER;Password=TPS$1352"
        providerName="System.Data.SqlClient" />
    <add name="WirePricing_Connection" connectionString="XpoProvider=MSSqlServer;data source=dev-dataentagl;user id=TPSuSER;password=TPS$1352;initial catalog=WirePricing" />
    <add name="ChecksConnectionString" connectionString="XpoProvider=MSSqlServer;data source=dev-checksagl;user id=usrchecks;password=usrchecks;initial catalog=Checks" />
    <add name="DebitCardConnectionString" connectionString="XpoProvider=MSSqlServer;data source=dev-dataentagl;user id=TPSuSER;password=TPS$1352;initial catalog=IMX_DebitCard" />
    <add name="WireTransac_Connection" connectionString="XpoProvider=MSSqlServer;data source=dev-mainagl;integrated security=SSPI;initial catalog=WireTransac" />
    <add name="Prod_WireTransac_Connection" connectionString="XpoProvider=MSSqlServer;data source=SQLMAINAGL;user id=;password=;initial catalog=WireTransac" />
    <add name="WirePricing_QA" connectionString="XpoProvider=MSSqlServer;data source=QASQLDATAENTRY;integrated security=SSPI;initial catalog=WirePricing" />
    <add name="localhost_WirePricing_Connection" connectionString="XpoProvider=MSSqlServer;data source=QASQLDATAENTRY;user id=TPSuSER;password=TPS$1352;initial catalog=WirePricing" />
    <add name="WireTransac_QA" connectionString="XpoProvider=MSSqlServer;data source=QASQLMAIN;user id=TPSuSER;password=TPS$1352;initial catalog=WireTransac" />
    <add name="localhost_WirePricing_Connection 1" connectionString="XpoProvider=MSSqlServer;data source=QASQLDATAENTRY;user id=TPSuSER;password=TPS$1352;initial catalog=WirePricing" />
  </connectionStrings>
</configuration>